@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

body{
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.app {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.app-logo {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  pointer-events: none;
}

.app-profile-image {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  position: relative;
}

.app-profile-image:hover .overlay {
  opacity: 1;
}

.app-profile-image-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.app-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0 2em;
}

.app-header h3{
  font-size: calc(10px + 1.5vmin);
  font-weight: bold;
}

.app-header.contact {
  justify-content: left;
  align-items: flex-start;
}


.app-profile-name {
  margin-top: 1rem;
}

.app-share-link {
  position: absolute;
  right: 20%;
  top: -15px;
  border: 1px dashed #ccc;
  border-radius: 50px;
  padding: 0.1em;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.app-share-link img {
  width: 16px;
}

.app-links>*+* {
  margin-top: 1rem;
}

.app-link {
  background-color: #EAECF0;
  border-radius: 8px;
  padding: 24px 32px;
  text-decoration: none;
  color: #101828;
  font-size: 18px;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  position: relative;
  text-align: center;
}

.app-link:hover {
  background: #D0D5DD;
  color: #101828;
  transform: scale(1.05);
  will-change: transform;
}

.app-link:focus {
  background: #EAECF0;
  border: 1px solid #98A2B3;
  color: #101828;
}

.app-social-links {
  padding: 3rem;
  text-align: center;
}

.app-social-links img {
  width: 2rem;
  margin-right: 1rem;
}


.app-footer {
  margin-top: auto;
  width: 100%;
  color: #667085;
}

.app-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #dee2e6;
}

.app-footer-wrapper>*+* {
  padding-top: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn{
  padding: 12px 20px !important;
}

.btn-primary{
  background-color: #1570EF;
}

.btn-primary:hover{
  background-color: #175CD3;
}

.btn-primary:focus{
  background-color: #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;;
}

input[type="text"]::-webkit-input-placeholder,
input[type="text"]::placeholder {
  color: #667085 !important;
}

input[type="text"]::-ms-input-placeholder{
  color: #667085 !important;
}

input[type="text"].form-control,
input[type="text"].form-control,
input[type="email"].form-control,
input[type="email"].form-control{
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
}

input[type="text"].form-control:hover,
input[type="text"].form-control:focus,
input[type="email"].form-control:hover,
input[type="email"].form-control:focus{
  box-shadow: none !important;
  border: 1px solid #84CAFF;
}

textarea.form-control:focus{
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.form-control{
  color: #101828;
}
