.app {
  text-align: center;
}

.app-logo {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  pointer-events: none;
}

.app-header {
  position: relative;
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0 2em;
  /* font-size: calc(10px + 2vmin); */
  font-weight: bold;
  /* color: white; */
}

.app-profile-name{
  margin-top: 1rem;
}

.app-share-link{
  position: absolute;
  right: 20%;
  top: -15px;
  /* bottom: 0; */
  /* right: 200px; */
  /* margin: auto 0; */
  border: 1px dashed #ccc;
  border-radius: 50px;
  padding: 0.6em;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
