/* html, body {
  height: 100%;
} */

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.app-logo {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  pointer-events: none;
}

.app-header {
  position: relative;
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0 2em;
  font-size: calc(10px + 1.5vmin);
  font-weight: bold;
}

.app-profile-name{
  margin-top: 1rem;
}

.app-share-link{
  position: absolute;
  right: 20%;
  top: -15px;
  border: 1px dashed #ccc;
  border-radius: 50px;
  padding: 0.6em;
}

.app-links > * + *{
  margin-top: 1rem;
}

.app-link {
  background-color: #EAECF0 !important;
  border-radius: 8px;
  padding: 1rem 0;
  text-decoration: none;
  color: #101828;
  font-size: 18px;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  position: relative;

}

.app-link:hover {
  border: 2px solid transparent;
  color: #4b0082;
  transform: scale(1.05);
  will-change: transform;
}


.app-footer {
  margin-top: auto;
  /* flex-shrink: 0; */
  /* position: sticky; */
  /* top: 100vh; */
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  /* height: 60px; Set the fixed height of the footer here */
  /* line-height: 60px; Vertically center the text there */
  /* background-color: #f5f5f5; */
}

.app-footer-wrapper{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #dee2e6;
}
